.card-list {
    display: flex;
    gap: 24px;
}

.card-list li {
    flex: 1 1 0;
    /* 크기가 똑같이 배분 */
}

.card-list li a {

}

.card-list li .thumnail {
    display: block;
    width: 100%;
    height: 0;
    /* 가로기준으로 60%가 된다 따라서 비율을 유지할 수 있음 */
    padding: 60%;
    position: relative;
    overflow: hidden;
}

.card-list li .thumnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}